

/*The logo customization*/

body {
    background-image: url('./image/assassins-creed-5120x2880-21640.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: wobbleBg 5s ease-in-out infinite alternate;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    color: rgb(231, 113, 17);
    font-size: 11rem;
    position: relative;
    animation: blurGlitch 3s ease-in-out;
}

a {
    font-family: "Bytesized", sans-serif;
    font-weight: 220;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(231, 113, 17);
    font-size: 2rem;
    text-decoration: none;
    border: 1px solid grey;
    background-color: rgb(53, 54, 54);
    width: 14rem;
    height: 3rem;  
    margin: 0 auto; 
    border-radius: 5px;
    cursor: pointer;
    animation: blurFadeIn 3s ease-out;
    transition: transform 0.3s ease-in-out;
}

a:hover {
    transform: scale(1.1); 
    color: aliceblue;
    background-color: rgb(231, 113, 17);
}



.footer {
    position: fixed;
    bottom: 2px; 
    left: 50%;
    transform: translateX(-50%);
    color: rgb(238, 169, 113);
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
}


/*Animations*/

@keyframes blurGlitch {
    0% {
        opacity: 0;
        filter: blur(10px);
        transform: scale(1.2);
    }
    50% {
        opacity: 1;
        filter: blur(5px);
        transform: scale(1);
        text-shadow: 4px 0px red, -4px 0px blue;
    }
    70% {
        text-shadow: -4px 0px red, 4px 0px blue;
    }
    100% {
        filter: blur(0);
        text-shadow: none;
    }
}


@keyframes blurFadeIn {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}


@keyframes wobbleBg {
    0% { background-position: center; }
    20% { background-position: 57% 43%; }  
    40% { background-position: 43% 57%; }  
    60% { background-position: 56% 44%; }  
    80% { background-position: 44% 56%; }  
    100% { background-position: center; } 
}

/*the form animations*/



/*on smaller screen*/

@media (max-width: 768px) {
    body {
        animation: wobbleBg 50s ease-in-out infinite alternate;
    }
    .intro { 
        flex-direction: column; 
        text-align: center; 
    }
    h1 {
        justify-content: center;
        text-align: center;
        font-size: 4rem; 
    }
    a {
        width: 100px;
        font-size: 1rem; 
        color: rgb(231, 113, 17);
        transition: transform 0.3s ease-in-out;
    }

    a:hover {
        transform: scale(1.1); 
        color: aliceblue;
        background-color: rgb(231, 113, 17);
    }
}
