


body {
    background-image: url('./image/assassins-creed-5120x2880-21640.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    animation: wobbleBg 10s ease-in-out infinite alternate;
}


.wrapper {
    background-color: transparent;
    border: 2px solid rgb(225, 225, 225, .2);
    backdrop-filter: blur(10px);
    width: 420px;
    height: 400px;
    color: white;
    padding: 50px;
}

.wrapper h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 36px;
    color: rgb(231, 113, 17);
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 10%;
    margin: 30px 0;
    margin-left: 5px;
    margin-right: 5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgb(225, 225, 225, .2);
    border-radius: 10px;
    color: white;
    padding: 1px 10px;
    font-size: 15px;
}

.wrapper .input-box input::placeholder {
    color: white;
    padding-left: 10px;
}

.input-box i {
    position: absolute;
    color: black;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper .rem {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 0px 9px 15px 5px;

}

re. #remember:hover {
    cursor: pointer;
}

.rem a {
    text-decoration: none;
    color: white;
}

.rem a:hover {
    text-decoration: underline;
    color: rgb(231, 113, 17);
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 40px;
    background-color: rgb(53, 54, 54);
    border-radius: 10px;
    color: rgb(231, 113, 17);
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid rgb(150, 148, 148);
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1); 
    color: aliceblue;
    background-color: rgb(231, 113, 17);
}

.wrapper .signup {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    text-align: center;
    margin-top: 10px;
}

.wrapper .signup a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.wrapper .signup a:hover {
    text-decoration: underline;
    color: rgb(231, 113, 17);
}


/*footer*/

.footer {
    position: fixed;
    bottom: 2px; 
    left: 50%;
    transform: translateX(-50%);
    color: rgb(238, 169, 113);
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
}


/*animations*/
@keyframes wobbleBg {
    0% { background-position: center; }
    20% { background-position: 57% 43%; }  
    40% { background-position: 43% 57%; }  
    60% { background-position: 56% 44%; }  
    80% { background-position: 44% 56%; }  
    100% { background-position: center; } 
}
